<ion-view view-title="{{news.title}}">
  <ion-content class="padding">

    <img ng-src="{{news.img}}" style="width: 100%; height: 300px">
    <p >Director : {{news.details.director}} <br>
      IMDB : {{news.rate}} <br>
    Category : {{news.details.category}}
    </p>
    <a class="item" href="{{p.url}}" target="_blank" ng-repeat="p in news.details.download">{{p.site}}<span class="badge badge-assertive">{{p.size}}</span> </a>
    <div class="spacer" style="width: 300px; height: 53px;"></div>
    <a class="item-icon-left assertive item" href="{{p.url}}" target="_blank" ng-repeat="p in news.details.mega"><i class="icon ion-ios-play"></i>Direct Watch </a>
        <!-- <p>
            {{news.rate}}
        </p> -->
         
    </ion-content>
</ion-view>
