<ion-view view-title="Chats">
  <ion-content>
    
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="new in news" type="item-text-wrap" href="#/tab/chats/{{new.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{new.title.rendered}}</h2>
        <p>{{new.id}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


          