<ion-view view-title="Movies">

    <ion-content class="">
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>

        <ion-list>
            <a class="item my-item item-image" collection-repeat="pet in news | filter:filter" collection-item-height="230" collection-item-width="'50%'" href="#/tab/dash/{{pet.id}}">
                <!-- <h5>{{pet.title}}</h5> -->
                <img class="full-image" src="{{pet.img}}" style="height:80%;">
                <p class="text-assertive">{{pet.title}}</p>
                <span class="badge badge-assertive">{{pet.rate}}</span>
                <p>{{pet.category}}</p>
                <p>{{pet.rating}}</p>
            </a>
        </ion-list>

        <ion-infinite-scroll ng-if="moreDataExists()" on-infinite="loadMore()" distance="1%" immediate-check="false">
        </ion-infinite-scroll>

    </ion-content>

</ion-view>
