<ion-tabs class="tabs-icon-top tabs-color-active-assertive">

    <!-- Dashboard Tab -->
    <ion-tab title="Movies" icon-off="ion-social-youtube-outline" icon-on="ion-social-youtube" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <!-- <ion-tab title="News" icon-off="ion-film-marker" icon-on="ion-film-marker" href="#/tab/chats">
        <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab> -->

    <!-- Account Tab -->
    <ion-tab title="Category" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>


</ion-tabs>
