<ion-view title="Popular" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="list card movie" id="popular-card22">
      <div class="movie item item-image">
        <img src="img/gKHJTsrfxJtfFNPQJn2hDNEMtFf.jpg" style="display: block; width: 100%; height: 100%; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body movie-list" id="popular-list-item-container5">
        <div id="popular-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Action
            <strong>8.7</strong> ,
            <strong>20.1.2020</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left dark" id="popular-list-item16">
        <i class="icon ion-android-bookmark"></i>Mary Shelley</ion-item>
    </div>
    <div class="list card movie" id="popular-card21">
      <div class="movie item item-image">
        <img src="img/zrPpUlehQaBf8YX2NrVrKK8IEpf.jpg" style="display: block; width: 100%; height: 50%; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body movie-list" id="popular-list-item-container6">
        <div id="popular-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Action
            <strong>8.7</strong> ,
            <strong>20.1.2020</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left dark" id="popular-list-item17">
        <i class="icon ion-android-bookmark"></i>Mary Shelley</ion-item>
    </div>
    <div class="list card movie" id="popular-card24">
      <div class="movie item item-image">
        <img src="img/4AqQvLRmbGbLj8AczCOlKS8OEoV.jpg" style="display: block; width: 100%; height: 100%; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="popular-list-item-container8">
        <div id="popular-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Action
            <strong>8.7</strong> ,
            <strong>20.1.2020</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left dark" id="popular-list-item19">
        <i class="icon ion-android-bookmark"></i>Mary Shelley</ion-item>
    </div>
    <div class="list card movie" id="popular-card25">
      <div class=" item item-image">
        <img src="img/gKHJTsrfxJtfFNPQJn2hDNEMtFf.jpg" style="display: block; width: 100%; height: 100%; margin-left: auto; margin-right: auto;">
      </div>
      <div id="popular-markdown11" class="show-list-numbers-and-dots .fixyear">
        <p style="color:#000000;">Some friendly
          <strong>markdown</strong>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>