<ion-view id="page1">
  <ion-tabs class="tabs-dark tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Home" icon="ion-ios-home-outline" href="#/page1/home" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Popular" icon="ion-ios-list-outline" href="#/page1/popular" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Categories" icon="ion-ios-film-outline" href="#/page1/categories" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>